* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    padding-top: 2vw;
    flex-direction: column;
    align-items: center;
}

.clock {
    width: max-content;
    margin: auto;
    background-color: white;
    border-radius: 50%;
}

.clock img {
    width: 20vw;
    height: 20vw;
}

#hourhand {
    position: absolute;
    right: 41.52vw;
    top: 2.98vw;
    width: 17vw;
    height: 18vw;
    transform: rotate(-90deg);
}


#minutehand {
    position: absolute;
    right: 39.93vw;
    top: 2.5vw;
    width: 20vw;
    height: 19vw;
    transform: rotate(-90deg);
}

#secondhand {
    position: absolute;
    right: 44vw;
    top: 3.1vw;
    width: 12vw;
    height: 18vw;
    transform: rotate(-90deg);
}

#dot {
    position: absolute;
    right: 48.9vw;
    top: 9.5vw;
    width: 1vw;
    height: 1vw;
}

.logos {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    right: 0;
    top: 0;
}

.logos img {
    margin: 3vw 3vw;
    padding: 2vw 2vw;
    width: 4vw;
    height: 4vw;
    opacity: 0.7;
    transition: all 0.7s ease;
    border-radius: 2vw;
}

.logos img:hover {
    opacity: 1;
    border-radius: 2vw;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 9px 19px #afafaf, -5px -9px 19px #ffffff;

}

.tree {
    position: absolute;
    z-index: -1;
    right: 22.5vw;
    top: -2.3vw;
}

.tree img {
    width: 52vw;
    height: 47vw;
}